<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://eventop.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>eventop.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>EvenTop</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$EvenTop</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="EventopEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:eventop.database.windows.net,1433;Initial Catalog=eventop;Persist Security Info=False;User ID=eventopadmin;Password=91771856@Eventop;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:eventop.database.windows.net,1433;Initial Catalog=eventop;Persist Security Info=False;User ID=eventopadmin;Password=91771856@Eventop;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="EventopWebAPI.Models.EventopEntities, EventopWebAPI" MigrationConfiguration="EventopWebAPI.Migrations.Configuration, EventopWebAPI" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="EventopEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.CRUDLogics.csdl|res://*/Models.CRUDLogics.ssdl|res://*/Models.CRUDLogics.msl;provider=System.Data.SqlClient;provider connection string="Server=tcp:eventop.database.windows.net,1433;Initial Catalog=eventop;Persist Security Info=False;User ID=eventopadmin;Password=91771856@Eventop;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>